extends ../layout.pug
block csses
    link(rel="stylesheet" type="text/css" href="css/user.css")
block content-body
    div(class="row" id="userApp")
    //- a(href="/Users/new" class="btn btn-primary") New
    //- table( class="table table-default table-striped table-bordered" style='width:100%;border:1px solid;border-collapse:collapse')
    //-     tr(style="background-color:#888;color:white;")
    //-         th name
    //-         th age
    //-         th department
    //-         th designation
    //-         th Action
    //-     each val in users  
    //-         tr
    //-             td
    //-                 if(menu=="users")
    //-                     a(href="/users/"+val.name ) #{val.name}
    //-                 else
    //-                     span  #{val.name}
    //-             td #{val.age}  
    //-             td #{val.department} 
    //-             td #{val.designation}               
    //-             td 
    //-                 a(href="/users/edit/"+val.name class="btn btn-primary") Edit
    //-                 span()  
    //-                 a(href="/users/delete/"+val.name class="btn btn-primary") delete
    //- a(href="/" class="btn btn-primary") back

block scriptsbottom    
    script(src="users/dist/user.js")